[scenario]
	id=07_aleron_dam
	name = _ "7 - Aleron Dam"
	map_data="{~add-ons/Betrayal_of_Thaeylan/maps/07_aleron_dam.map}"
	next_scenario=08_coastal_estates
	random_start_time=no
	turns=19
	allow_new_game=no
	force_lock_settings=yes

	{DEFAULT_SCHEDULE}
	{DEFAULT_MUSIC_PLAYLIST}

## Objectives

	[event]
		name=prestart
		[objectives]
			side=0
			[objective]
				description= _ "Defeat enemy leaders"
				condition=win
			[/objective]
			{OBJ_TURNS}
			{OBJ_DEATH_PLAYERS}
			[objective]
				description= _ "Death of Herald"
				condition=lose
			[/objective]
			[gold_carryover]
				carryover_percentage=40
			[/gold_carryover]
		[/objectives]
	[/event]

## Sides

	{SYNN_SIDE 1 (
		color=blue
		gold=80
	)}
	{MUHYRIM_SIDE 2 (
		color=red
		gold=80
	)}
	{AI_SIDE "ARDN Death Squire" "Undead1" 3 (
		name = _""
		canrecruit=yes
		{GOLD 60 80 120}
		{INCOME 2 5 8}
		recruit=Skeleton,Skeleton Archer,ARDN Skeleton Rider
		team_name=Undead
		user_team_name = _ "Undead"
		allow_player=no
		hidden=yes
	)}
	{AI_SIDE "Dark Sorcerer" "Taenthynyr" 4 (
		canrecruit=yes
		{GOLD 120 180 240}
		{INCOME 8 13 15}
		recruit=Ghost,Ghoul,Soulless,Dark Adept
		team_name=Undead
		user_team_name = _ "Undead"
		allow_player=no
		hidden=yes
		[unit]
			type=Wraith
		[/unit]
		[unit]
			type=Necrophage
		[/unit]
	)}

## Opening scenes

	[story]
		[part]
			[background_layer]
				image="story/landscape-mountains-02.jpg"
			[/background_layer]
			show_title=no
			story= _ "Word of their arrival, and their plans to fight their way to the coastal estates, spread through the villages in the area. Every day more young fighters arrived to volunteer their services. After a week, Muhyrim and Synn mustered what resources they had and began the march, uncertain of what they would find."
		[/part]
	[/story]

	[event]
		name=start
		{UNIT 1 "BoT Noble Commander" 24 13 (
			id=Herald
			animate=yes
			name= _ "Herald"
			profile="portraits/herald.png"
			[abilities]
				{TRAIT_LOYAL}
			[/abilities]
		)}
		{UNIT 2 "Fencer" 23 14 (
			id=Jynn
			animate=yes
			name= _ "Jynn"
			profile="portraits/jynn.png"
			[abilities]
				{TRAIT_LOYAL}
			[/abilities]
		)}
		[unit_overlay]
			[filter]
				id=Herald,Jynn
			[/filter]
			image="misc/loyal-icon.png"
		[/unit_overlay]
		[message]
			speaker=Herald
			message = _ "Hark! I am Herald, Lieutenant of the Southern Army of the Kingdom of Thaeylan. Who speaks for you men?"
		[/message]
		[message]
			speaker=Muhyrim
			message = _ "It is I, my friend. And I bring with me warriors from across the southern lands."
		[/message]
		[message]
			speaker=Herald
			message = _ "I thought you dead and buried long ago! I would be myself, were it not for your son."
		[/message]
		[message]
			speaker=Jynn
			message = _ "I am here, father. And it is not I who saved Herald, but he who took me from Alensing when Aydun's men heard of your rebellion."
		[/message]
		[message]
			speaker=Muhyrim
			message = _ "Jynn, I never thought we would see each other again. I am in your debt, Herald."
		[/message]
		[message]
			speaker=Herald
			message = _ "Please, no more debts. The sacrifices one man owes another in these times have grown too terrible to bear."
		[/message]
		[message]
			speaker=Muhyrim
			message = _ "Tell me of the coastal estates. Do they stand with you in battle against our enemies?"
		[/message]
		[message]
			speaker=Herald
			message = _ "The estates fell to the dark hordes months ago. Every fighting man we could muster took to the field under one banner, but we were overwhelmed and chased into the mountains. Even now, we are pursued by a danger which does not tire."
		[/message]
		[message]
			speaker=Synn
			message = _ "Indeed. I am pleased at your reunion but your enemy pursues you and we are not safe here."
		[/message]
	[/event]

## Events

	{DEATH_PLAYERS}
	{DEATH_JYNN}

	[event]
		name=die
		[filter]
			id=Herald
		[/filter]
		[message]
			speaker=unit
			message = _ "I have failed!"
		[/message]
		[endlevel]
			result=defeat
		[/endlevel]
	[/event]

	[event]
		name=die
		[filter]
			id=Undead1
			[filter_adjacent]
				id=Jynn
			[/filter_adjacent]
		[/filter]
		[message]
			speaker=narrator
			message = _ "As the death squire fell, a glint of ruby flashed from its boney fist."
		[/message]
		[message]
			speaker=Jynn
			message = _ "That ring there on his finger. I've seen it before. These are the bones of Gerdrik!"
		[/message]
		[message]
			speaker=Herald
			message = _ "The Third Hand of Alensing?"
		[/message]
		[message]
			speaker=Jynn
			message = _ "I'm sure it's him. He instructed us in swordsmanship and once swore that if we cut him in training his ring would seal the wound by the next day."
		[/message]
		[message]
			speaker=narrator
			message = _ "Jynn loosened the bones' grip of the hilt and plucked the ring from the rubble."
		[/message]
		[modify_unit]
			[filter]
				id=Jynn
			[/filter]
			{TRAIT_HEALTHY}
		[/modify_unit]
		[message]
			speaker=narrator
			image=wesnoth-icon.png
			message = _ "<span style='italic'>Jynn acquired the healthy trait.</span>"
		[/message]
	[/event]

	[event]
		name=die
		first_time_only=no
		[filter]
			id=Undead1,Taenthynyr
		[/filter]
		[if]
			[not]
				[have_unit]
					id=Undead1,Taenthynyr
				[/have_unit]
			[/not]
			[then]
				[message]
					speaker=Muhyrim
					message = _ "We must hurry to the coastal estates. From there we can raise an army and take back Thaeylan."
				[/message]
				[message]
					speaker=Herald
					message = _ "Don't be so sure, Muhyrim. The coast is not the same as you remember it."
				[/message]
				[endlevel]
					carryover_percentage=40
					carryover_add=yes
					result=victory
				[/endlevel]
			[/then]
		[/if]
	[/event]

[/scenario]