#define BOT_ABILITY_RESOLUTE
    # Increases resistance for all
    [resistance]
        id=bot_resolute
        add=10
        max_value=50
        # applies to any type if we leave it out
        #apply_to=blade,pierce,impact,fire,cold,arcane
        [filter_base_value]
            less_than=50
        [/filter_base_value]
        name= _ "resolute"
        female_name= _ "female^resolute"
        description= _ "This unit’s resistances are increased by 10% when defending."
        special_note= _ "The resolve of this unit reduces damage from some attacks, but only while defending."
        affect_self=yes
        active_on=defense
    [/resistance]
#enddef