#define BOT_ACHIEVEMENT_MESSAGE MESSAGE
  [message]
    speaker=narrator
    image=wesnoth-icon.png
    message = _ "<span style='italic' color='green'>New Achievement</span>

{MESSAGE}"
  [/message]
#enddefine

#define BOT_ACHIEVEMENT_EOIN_SET LEVEL SUB_ACHIEVEMENT
    [if]
      [have_unit]
        id=$unit.id
        level={LEVEL}
      [/have_unit]
      [then]
        {BOT_ACHIEVEMENT_MESSAGE "Eoin advanced to level $unit.level."}
        [set_sub_achievement]
          content_for=BOT_achievements
          id=BOT_achievement_eoin
          sub_id={SUB_ACHIEVEMENT}
        [/set_sub_achievement]
      [/then]
    [/if]
#enddefine

#define BOT_ACHIEVEMENT_EOIN_LVL
  [event]
    name=post_advance
    first_time_only=no
    [filter]
      id=Eoin
    [/filter]
    {BOT_ACHIEVEMENT_EOIN_SET 1 "BOT_achievement_eoin_lvl1"}
    {BOT_ACHIEVEMENT_EOIN_SET 2 "BOT_achievement_eoin_lvl2"}
    {BOT_ACHIEVEMENT_EOIN_SET 3 "BOT_achievement_eoin_lvl3"}
  [/event]
#enddefine

#define BOT_ACHIEVEMENT_TORCHED_UNDEAD
  [event]
    name=die
    [filter]
      race=undead
    [/filter]
    [filter_second]
      status=torched
    [/filter_second]
		[set_achievement]
			content_for=BOT_achievements
			id=BOT_achievement_torched
		[/set_achievement]
  [/event]
#enddefine