#define SYNN_SIDE SIDE WML
	[side]
		type="ARDN Pathfinder"
		side={SIDE}
		{PLAYER_SIDE Synn}
		{WML}
	[/side]
#enddef

#define MUHYRIM_SIDE SIDE WML
	[side]
		type="ARDN Field Marshal"
		side={SIDE}
		profile="portraits/muhyrim.png"
		{PLAYER_SIDE Muhyrim}
		{WML}
	[/side]
#enddef

#define PLAYER_SIDE NAME
	id={NAME}
	save_id={NAME}
	name= _ "{NAME}"
	unrenamable=yes
	persistent=yes
	canrecruit=yes
	controller=human
	allow_player=yes
	fog=no
	shroud=no
	team_name=Resistance
	user_team_name= _ "Resistance"
	team_lock=yes
	gold_lock=yes
	income_lock=yes
	faction_lock=yes
	faction=Custom
	share_maps=yes
	share_view=yes
#enddef

#define AI_SIDE TYPE NAME SIDE WML
	[side]
		side={SIDE}
		type={TYPE}
		id={NAME}
		name= _ "{NAME}"
		controller=ai
		allow_player=no
		controller_lock=yes
		{WML}
	[/side]
#enddef

#define RECALL_LOYALS
	[recall]
		id=Herald
	[/recall]
	[recall]
		id=Jynn
	[/recall]
#enddef